@import 'mixins';
@import 'variables';

.header{
    height: $header-height;
    background-color: black;
    @include display(flex,space-between);
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index:1000 ;
    @include transition;

    @media (max-width:770px) {
        padding: $space-60 0;
        left: 0;
        right:unset;
        height: unset;
        width: 200px;
        bottom: 0;
        align-items: flex-start;
        transform: translateX(-100%);
    }

    &.active{
        transform: translateX(0);
    }
    &__container{
        @include display(flex,space-between);
        align-items: center;


        @media(max-width: 770px){
            display:block;
        }
    }

    &__menu{

        width: 40px;
        height: 40px;
        border-radius: $border-radius;
        @include display(flex,center);
        align-items: center;
        display: none;

        i{
            font-size: 3rem;
        }

        &-open{
            z-index: 999;
            position:fixed;
            top: 10px;
            left: 20px;
            background-color: rgba(255,255,255,0.2);
        }

        &-close{
            position:absolute;
            right:10px;
            top:10px;
        }

        @media(max-width: 770px){
            display: flex;
        }
    }

    &__logo{
        height: $header-height;
    }

    &__right{
        width: 100%;
        height: $header-height;
        @include display(flex,flex-end);
        align-items: center;

        @media(max-width: 770px){
            height: unset;
        }
        
    }

    &__list{
        @include display(flex,space-between);
        width: 40%;

        @media(max-width: 770px){
            display: block;
            width: 100%;
        }
    }

    &__item{
        position: relative;
        padding-bottom: 10px;
        cursor: pointer;
        &::after{
            content: '';
            position: absolute;
            bottom:0;
            left:0;
            width: 0%;
            height: 2px;
            background-image:linear-gradient($purple,$pink) ;
            @include transition
        }

        &.active{

            &.header__item::after{
                width: 100%;
            } 
        }

        @media(max-width: 770px){
            display: block;
            padding: $space-16;
        }
    }

    &__item + .header__item{
        display: block;
    }


}
