$primary: #30374e;

$primary-light: #4f5875;

$pink: #e697b3;

$purple: #8388c4;

$text-L-color: rgb(222, 222, 222);

$text-D-color: rgb(96, 94, 94);

$title-color: #8388c4;

$text-size: 1.6rem;

$title-size: 5rem;

$special-size: 2.5rem;

$font-italic:'Petit Formal Script', cursive;

$font-title:'Rowdies', cursive;

$font-text: 'Itim', cursive; 


$header-height: 68px;

$space-8: 8px;
$space-16: 16px;
$space-30: 30px;
$space-48: 48px;
$space-60: 60px;

$border-radius: 8px;
